body {
    width: 1300px;
    margin: auto;
    font-family: 'Karla';
}

.bold {
    font-size: xx-large;
    font-weight: 900;
    color: lightcoral;
    margin-left: -1rem;
    margin-right: auto;
    line-height: 16px;
}

ul { 
    display: flex; 
    flex-direction: row;
    li {
        display: block;
        list-style: none;
        padding: 0rem;
        margin: 1rem;
    }
}

p, h4 {
    padding: 0.2rem;
    margin: 0.2rem;
}

figure {
    display: flex;
    flex-direction: row;
}

figcaption {
    display: flex;
    flex-direction: column;
}

.poster {
    width: 200px;
    margin: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}